{% extends 'base.html.twig' %}

{% block title %}{{category.categoryName}} | Site Officiel du Breizh Fobal Klub{% endblock %}

{% block content %}
<div class="main">
    <h1>Joueurs</h1>

    <ul>
            {% for player in players %}
                <li>{{ player.LastName }}</li>
            {% endfor %}
    </ul>

</div>
{% endblock %}
