{% extends 'base.html.twig' %}

{% block title %}{{ matchId.articleTitle }}| Site Officiel du Breizh Fobal Klub{% endblock %}

{% block content %}
    <div class="main">

        <h1 class="matchTitle">{{ matchId.articleTitle }}</h1>
        <p class="matchArticle">{{ matchId.articleDescription }}</p>
        <div class="matchArticlePhotoContainer">
        <img class="matchArticlePhoto" src="{{ asset('uploads/photo_matches/' ~ matchId.mathPhoto) }}">
        </div>
    </div>
{% endblock %}
