{% extends 'base.html.twig' %}

{% block title %}Partenaires | Site Officiel du Breizh Fobal Klub{% endblock %}

{% block content %}
    <div class="main">
        <h1 class="mainTitle">Nos Partenaires</h1>
        <div class="partnerCardContent">
            {% for partner in partners %}
                    <div class="partnerCard card">
                        <div>
                            <img class="partnerCardImg card-img-top" src="{{ asset('uploads/partners/' ~ partner.partnerLogo) }}"
                                 alt="{{ partner.partnerName }}">
                        </div>
                        <div class=" partnerCardBody card-body">
                            <p class="card-text"> {{ partner.partnerDescription }}</p>
                        </div>
                        <div>
                            <a href="{{ partner.partnerSiteLink }}" target="_blank" class="partnerCardBtn btn btn-primary">Site Internet</a>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



