{% extends 'base.html.twig' %}

{% block title %}BFK-Partenaires{% endblock %}

{% block body %}
    <h1>Nos Partenaires</h1>
    {% for partner in partners %}
        <ul>
            <li>
                <img src="{{ asset('uploads/partners/' ~ partner.partnerLogo) }}" alt="{{ partner.partnerName }}">
                {{ partner.partnerName }}
                {{ partner.partnerDescription }}
            </li>
        </ul>
    {%  endfor %}
{% endblock %}
