{% extends 'base.html.twig' %}

{% block title %}Histoire | Site Officiel du Breizh Fobal Klub{% endblock %}
{% block content %}
    <div class="main">
        <h1>L'Histoire du club</h1>
        <div class="content">
            <div class="historyClubContent">
                <div class="historyClubText">

                </div>
                <img class="historyClubPicture" src="{{ asset('uploads/infrastructures/BFK_2014-2015.jpg') }}" alt="img">
            </div>

        </div>
    </div>
{% endblock %}
