<div class="partnerContent">
    {% for partner in partners %}
        <li><a href="{{ partner.partnerSiteLink }}" target="_blank"><img src="{{ asset('uploads/partners/' ~ partner.partnerLogo2) }}"
                                                         alt="{{ partner.partnerName }}"></a></li>
    {% endfor %}
</div>