{% extends "base.html.twig" %}
    {% block title %}Convocations | Site Officiel du Breizh Fobal Klub{% endblock %}

{% block content %}

<div class="main">
    <div class="content">
        <ul>
        {%  for convocation in convocations %}
            <li>{{convocation.matchConvocation}}</li>
            <ul>
                {% for pc in convocation.playerConvocation %}
                    <li>{{ pc.__toString}}</li>
                {% endfor %}
            </ul>
        {% endfor  %}
        </ul>
    </div>

</div>
{% endblock %}
