@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "header/header.scss";
@import "partners/partners.scss";
@import "footer/footer.scss";

//Développé en Mobile first

body {
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  background-color: white;
  width: 100%;
}

//------------------------------------Mise en page de la page d'accueil------------------------------------------------
.content {
  background-color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 0;
  width: 100%;
}

.nextMatch {
  background-color: black;
  border: solid #ff0000 2px;
  color: white;
  margin: 5px;
}

.lastMatch {
  margin: 5px;
  position: relative;
}

.lastMatch a {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 14pt;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.lastMatch img {
  border: solid #ff0000 1px;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.sidebar {
  background-color: white;
  width: 100%;
}

.sidebar h3 {
  background-color: black;
  color: white;
  font-size: 16pt;
  text-align: center;
}

.sidebar .container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lastNews {
  background-color: white;
  border: solid #ff0000 2px;
  margin: 5px;
}

.noveltyTitleList{
  list-style-type: none;
}

.noveltyTitle{
  color: black;
}

.noveltyTitle:hover{
  color: black;
}

.team-rank {
  background-color: white;
  border: solid #ff0000 2px;
  margin: 5px;
}

.socialNetworkContainer{
  background-color: white;
  display: flex;
  flex-direction: column;
  float: right;
}

.socialNetworkTitle{
  font-size: 20px;
  text-align: center;
}
.socialNetworkLinkContainer{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.socialNetworkLink{
  color: black;
  margin: 5px;
}

.socialNetworkLink:hover{
  color: dimgrey;
  text-decoration: none;
}

//------------------------------------------Mise en page infrastructures------------------------------
.stadiumContent {
  background-color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 0;
  padding: 5px;
  width: 100%;
}

.stadiumCard {
  margin: 4px auto;
  width: 18rem;
}

#map {
  background-color: darkgrey;
  height: 280px;
  max-width: 100%;
  margin: 5px;
}

.leaflet-popup p{
  font-family: Poppins;
  font-weight: bold;
}

.leaflet-marker-icon{
  background-color: red;
  color:#343a40;
}

//-------------------------Mise en page des titres des pages-------------------------------------------------------

.titlePage {
  font-size: 18pt;
  text-align: center;
}

.stadiumSection h3 {
  font-size: 14pt;
}

//-------------------------Mise en page histoire du club-----------------------------------------------
.historyClubContent {
  display: flex;
  justify-content: center;

  .historyClubContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;

    .historyClubText {
    }

    .historyClubPictureContainer {
      margin: 0 0 auto;
      position: relative;
      width: 100%;

      .historyClubPictureDescription {
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        position: absolute;
        width: 100%;

        .historyClubPictureDescriptionText {
          color: white;
          font-size: 10pt;
          margin: 0 0 0 auto;
          text-align: center;
          width: 100%;
        }
      }

      .historyClubPicture {
        border: solid #ff0000 1px;
        margin: 0 0 auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
}

//-----------------------------Tableau résultat---------------------------------------------------

.tableMatch {
  background-color: white;
  font-size: 8pt;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  tr{
    border: solid black 1px;
  }
  td{
    background-color: white;
  }
}

//-----------------------------Titres Principaux------------------------------------------------------

.mainTitle{
  text-align: center;
}


//-----------------------------Page Joueurs--------------------------------------------------------------
.playerContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.playerCard{
  margin: 4px auto;
  width: 18rem;
}
.playerCardBody{
  margin: 5px;
}

.playerCardBody .card-title{
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}



//------------------------ à partir de 768 px et plus, il passe en flex-direction row----------------------------
@media screen and (min-width: 768px) {

//---------------page d'accueil----------------------------------------------------------------------
  .content {
    flex-direction: row;
    width: 100%;
  }

  .nextMatch {
    background-color: black;
    border: solid #ff0000 2px;
    color: white;
    margin: 10px;
  }

  .lastMatch {
    margin: 10px;
    position: relative;
  }

  .lastMatch a {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-family: Poppins;
    font-size: 25pt;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .lastMatch img {
    max-height: 100%;
    max-width: 100%;
  }

  .sidebar {
    width: 35vw; // Prendra 30% de la largeur de l'\écran
  }

  .sidebar h3 {
    font-size: 16pt;
  }

  .lastNews {
    background-color: white;
    border: solid #ff0000 2px;
    margin: 10px;
  }

  .team-rank {
    background-color: white;
    border: solid #ff0000 2px;
    margin: 10px;
  }

  //------------------------------------------Mise en page infrastructures------------------------------

  .stadiumContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .stadiumCard {
    background-color: white;
    margin: 4px;
    width: 26rem;
  }

  #map{
    background-color:darkgrey;
    border-color: black;
    height: 780px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  //-----------------------------Page Joueurs--------------------------------------------------------------
  .playerContent {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
  }

  .playerCard{
    width: 18rem;
  }
  .playerCardBody{
    margin: 5px;
  }

  .playerCardBody .card-title{
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

}

