@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

body {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin:0;
    min-height: 100vh;

}
/*---------------------------------------HEADER----------------------------------------------------------*/

h1{
    color: black;
    font-family: Poppins;
    text-align: center;
    text-transform: uppercase;
}

//Custumisation menu navigation-------------------------------------------------------------------------------
.menuBfk{
    background-color: white;
    display: flex;
    color: black;
    text-transform: uppercase;
}
/*---------------------------------------------CONTENU PRINCIPAL------------------------------------------------------*/

/*---------------------------------------Mise en page contenu de la page d'accueil-----------------------------------*/


//Custumisation div next match

.nextMatch{
    color:white;
    background-color: black;
    border: 1px solid red;
    margin: auto;
}


.homepageContent{
    background-color: white;
}

//Mise en page section dernier match------------------------------------------------------------------------
.lastMatch{
    background-color: grey;
}

.lastMatchResult a {
    background-color: #17a2b8;
    color: white;
    font-size: 22pt;
}

.lastMatchImage img{
    height: 600px;
    width: auto;
    object-fit: contain;
}

//----------------------------Custumisation block partenaire--------------------------------------------------
.partnerContainer{
    background-color: black;
    border-top: 1px solid red;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}


.partnerContainer img{//images des partenaires
    width: 200px;
    height: 120px;
    object-fit: contain;
}

/*Adaptation du flex à la taille de l'écran*/
@media (max-width: 800px){
    .partnerContainer{
        flex: 1;
        flex-direction: column; //à partir de 800px, les éléments partenaires sont alignés en colonne)
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-around;
    }
}

@media(max-width: 800px){
    .partnerContainer img {
        width: 160px;
        height: 80px;
        object-fit: contain;
    }

}

/*---------------------------------------------FOOTER------------------------------------------------------*/

//Custumisation footer
.footerContainer {
    background-color: black;
    color: white;
    text-align: center;
}
