@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

//Développé en Mobile first


//------------------------------------------Mise en page du Header---------------------------------------------
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
  flex: 1;
}

.siteTitle{
  color: black;
  font-size: 20pt;
  text-align: center;
  text-transform: uppercase;
}

.bfkNavbar{
  background-color:mediumaquamarine;
  width: 100%;
}

.bfkNavbar a{
  color: black !important;
  font-family: Poppins;
  text-transform: uppercase;
}

.bfkNavbar a:hover{
  background-color: #0000cc;
}

.dropdown-menu{
  background-color: purple;

}



//------------------------------------Mise en page de la page d'accueil------------------------------------------------
.content{
  background-color: #00bb00;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.container a {
  background-color: #17a2b8;
  color: white;
  font-size: 16pt;
}

.container img{
  margin:2px;
  height:auto;
  width: 250px;
}

.sidebar{
  background-color: yellow;
  width: 100%;
}




.partnerContent{
  background-color: black;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items:center ;
  justify-content: space-evenly;
  width: 100%;
}


.partnerContent img{
  height: 120px;
  width: 200px;
  padding: 10px;
  object-fit:contain
}

.footerContainer{
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
}

//------------------------ à partir de 720 px et plus, il passe en flex-direction row----------------------------
@media screen and (min-width: 720px){
  .header h1{
    font-size: 35pt;
  }

                            //Mise en forme menu
  .bfkNavbar .bfkNavbarContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .bfkNavbar a{
    font-size: 16pt;
  }
  .dropdown{
    position: relative;
    display: inline-block;
  }

  .dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
//-------------------------------------------------------------------------------------------------------------

  .content{
    background-color: #00bb00;
    flex-direction: row;
    width: 100%;
  }

  .sidebar{
    background-color: yellow;
    width: 30vw; // Prendra 30% de la largeur de l'écran
  }

  .partnerContent{
    flex-direction: row;
    width: 100%;
  }

  .footerContainer{
    width: 100%;
  }
}

