@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

//Développé en Mobile first

body {
  background-color: #0055aa;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  background-color: yellowgreen;
  width: 100%;
}

//------------------------------------------Mise en page du Header---------------------------------------------
.header{
  width: 100%;
}

.siteTitle{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 5px 5px auto;
    .clubLogoHeader{
      margin: 0 auto;
      height: 120px;
      width: 120px;
    }
    .siteTitleText h1{
      color:black;
      font-family: Rambla;
      font-size: 28pt;
      font-weight: bolder;
      text-align: center;
      text-transform: uppercase;
    }
}

.bfkNavbar {
  background-color: mediumaquamarine;
  width: 100%;
  a {
    color: black !important;
    font-family: Poppins;
    text-transform: uppercase;
  }
  a:hover {
    background-color: #0000cc;
  }
  .dropdown-menu {
    background-color: purple;
  }
}

//------------------------------------Mise en page de la page d'accueil------------------------------------------------
.content {
  background-color: #00bb00;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 0;
  width: 100%;
}

.nextMatch {
  background-color: black;
  border: solid red 2px;
  color: white;
  margin: 5px;
}

.lastMatch {
  margin: 5px;
  position: relative;
}

.lastMatch a {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 14pt;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.lastMatch img {
  border: solid red 1px;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}


.sidebar {
  background-color: orange;
  width: 100%;
}

.sidebar h3 {
  background-color: black;
  color: white;
  font-size: 16pt;
  text-align: center;
}

.sidebar .container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lastNews {
  background-color: white;
  border: solid red 2px;
  margin: 5px;
}

.team-rank {
  background-color: white;
  border: solid red 2px;
  margin: 5px;
}

//------------------------------------------Mise en page infrastructures------------------------------
.stadiumContent {
  background-color: #00bb00;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 0;
  padding: 5px;
  width: 100%;
}

.stadiumCard {
  margin: 4px auto;
  width: 18rem;
}

//----------------------------Mise en page partenaires--------------------------------------------------
.partnerContent {
  background-color: black;
  border-top: solid red 1px;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

.partnerContent img {
  height: 120px;
  width: 200px;
  padding: 10px;
  object-fit: contain
}

//--------------------------------------------FOOTER---------------------------------------------------------

.footerContainer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
}


//-------------------------Mise en page des titres des pages-------------------------------------------------------


.titlePage{
  font-size: 18pt;
  text-align: center;
}
.stadiumSection h3{
  font-size: 14pt;
}

//------------------------ à partir de 720 px et plus, il passe en flex-direction row----------------------------
@media screen and (min-width: 720px) {
  .header h1 {
    font-size: 35pt;
  }

  //Mise en forme menu
  .bfkNavbar .bfkNavbarContent {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .bfkNavbar a {
    font-size: 16pt;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-item{
    &:hover{
      display: block;
    }
  }


  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
  }

  //-------------------------------------------------------------------------------------------------------------

  .content {
    background-color: #00bb00;
    flex-direction: row;
    width: 100%;
  }
  .nextMatch {
    background-color: black;
    border: solid red 2px;
    color: white;
    margin: 10px;
  }

  .lastMatch {
    margin: 10px;
    position: relative;
  }

  .lastMatch a {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-family: Poppins;
    font-size: 25pt;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .lastMatch img {
    max-height: 100%;
    max-width: 100%;
  }

  .sidebar {
    width: 35vw; // Prendra 30% de la largeur de l'écran
  }

  .sidebar h3 {
    font-size: 16pt;
  }

  .lastNews {
    background-color: white;
    border: solid red 2px;
    margin: 10px;
  }

  .team-rank {
    background-color: white;
    border: solid red 2px;
    margin: 10px;
  }
//---------------------------------Mise en page partenaires---------------------------------------------
  .partnerContent {
    flex-direction: row;
    width: 100%;
  }

  .partnerContent img {
    height: 120px;
    width: 200px;
    object-fit: contain;
    padding: 10px;
  }

//------------------------------------------Mise en page infrastructures------------------------------

  .stadiumContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .stadiumCard {
    background-color: white;
    margin: 4px;
    width: 26rem;
}
//-------------------------Mise en page des titres des pages-------------------------------------------------------



//-----------------------------------------------------------------------------------------------------
  .footerContainer {
    width: 100%;
  }


}

