{% extends 'base.html.twig' %}

{% block title %}Demande d'inscription | Site Officiel du Breizh Fobal Klub{% endblock %}

{% block content %}
    <div class="main">
        <div class="content">
            {{ form(preinscriptionForm) }}
        </div>
    </div>
{% endblock %}
