{% extends 'base.html.twig' %}

{% block title %}Hello PreinscriptionController!{% endblock %}

{% block content %}
    <div class="main">
        <div class="content">
            {{ form(preinscriptionForm) }}
        </div>
    </div>
    {{ dump(preinscriptionForm)}}
{% endblock %}
