{% extends 'base.html.twig' %}

{% block title %}Résultats | Site Officiel du Breizh Fobal Klub{% endblock %}

{% block body %}

    <h1>Résultats</h1>
    {% for result in results %}
    <ul>
      <li> {{ result.result }}</li>
    </ul>
    {% endfor %}
{% endblock %}
