{% extends 'base.html.twig' %}

{% block title %}{{ noveltyId.noveltyTitle }}| Site Officiel du Breizh Fobal Klub{% endblock %}

{% block content %}
    <div class="main">

        <h1>{{ noveltyId.noveltyTitle }}</h1>
        <p>{{ noveltyId.noveltyContent }}</p>
        
    </div>
{% endblock %}