//Version mobile

.partnerContent {
  background-color: black;
  border-top: solid #ff0000 1px;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;

  img {
    height: 120px;
    width: 200px;
    padding: 10px;
    object-fit: contain
  }
}

.partnerCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  .partnerCard {
    margin: 5px;
  }
  .partnerCardBody{
    justify-content: center;
  }
  .partnerCardButtonContent {
    .partnerCardBtn {
      background-color: #1b1e21;
      border: solid #ff0000 2px;
      display: block;
      margin: 10px;
    }
  }
}

@media screen and (min-width: 720px) {
  .partnerContent {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .partnerContent img {
    height: 80px;
    width: 160px;
    object-fit: contain;
    padding: 10px;
  }

  .partnerCardContent {

    .partnerCard {
      margin: 5px;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 900px) {
  .partnerContent {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .partnerContent img {
    height: 120px;
    width: 200px;
    object-fit: contain;
    padding: 10px;
  }


  .partnerCardContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .partnerCard {
      display: flex;
      flex-direction: column;
      margin: 5px;
      height: 550px;
      width: 280px;
    }
    .partnerCardImg{
      display: block;
      height: 100px;
      width: 250px;
      object-fit: contain;
      margin-left: auto;
      margin-top: 10px;
      margin-right: auto;
    }
    .partnerCardBody{
      background-color: red;
    }
    .partnerCardButtonContent{
      .partnerCardBtn{
        display: block;
        margin:15px;
      }
    }

  }
}